/*
Theme Name: LolyGummies
Author: FJaimes
Description: Plantilla exclusiva para LolyGummies.
Version: 1.0
Template Theme URI: https://fjaimes.com/themes-wp/lolygummies
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --color-primary: #B4127B;
    --color-secondary: #CF3476;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFF;
}

.whatsapp{
    position: fixed;
    right: 20px;
    bottom: 50px;
}

.bg-pink {
    background-color: var(--color-primary);
}

.bg-pink-secondary {
    background-color: var(--color-secondary);
}

.btn-pink {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
    padding: 15px 25px;
    transition: all .2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    i {
        font-size: 14px;
    }

    &:hover {
        background-color: #FFF;
        border: 1px solid var(--color-primary);
        color: var(--color-primary);

    }
}

.bg-mask-point {
    background-image: url(image/mask-point.webp);
    background-repeat: no-repeat;
    background-position: top left;
}

.bg-mask-slick {
    background-image: url(image/mask-point.webp);
    background-repeat: no-repeat;
    background-position: top left;

    h2 {
        font-size: 40px;
        line-height: 48px;
        color: var(--color-primary);
        font-weight: 500;
        margin-bottom: 25px;
    }

    p {
        font-size: 24px;
        line-height: 44px;
        color: #000;
        font-weight: 500;

        a {
            text-decoration: none;
            color: #000;
        }
    }


    a {
        &.btnIr {
            text-decoration: none;
            background-color: var(--color-primary);
            color: #FFF;
            font-size: 18px;
            line-height: 22px;
            font-weight: 600;
            padding: 18px 32px;
            border-radius: 11px;
            margin-top: 50px;
            display: inline-block;
        }
    }
}

nav {
    display: block;
    position: relative;

    &.navbar {
        transition: all .2s;


        ul {
            &#menu-menu-navegacion {
                margin: 0;
                padding: 0;

                li {
                    padding: 0;

                    a {
                        color: #888888;
                        font-weight: 500;
                        text-decoration: none;
                        transition: color 700ms ease-in-out, border 200ms ease-in-out;
                        font-size: 18px;
                        line-height: 22px;
                        text-align: center;
                        padding: 1.5rem 1.75rem;
                        text-transform: uppercase;
                    }

                    &.current-menu-item,
                    &:hover {
                        a {
                            color: var(--color-secondary);
                            border-bottom: 3px solid var(--color-secondary);
                        }
                    }
                }
            }

            &#menu-menu-usuario {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                justify-items: center;
                align-items: center;
                gap: 15px;

                li {
                    display: inline-block;

                    a {
                        position: relative;
                        
                        &.menu-icono {
                            color: var(--color-primary);
                            height: 68px;
                            width: 68px;
                            padding: 12px;
                            display: block;
                        

                            .badge {
                                background-color: var(--color-primary) !important;
                                font-size: 12px;
                                position: absolute;
                                right: 12px;
                                bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.header {
    nav {
        display: flex;
        padding: 10px 0;

        ul {
            list-style: none;
            margin: 0;

            li {
                margin: 0 5px;
                display: inline-block;

                i {
                    color: #FFF;
                    font-weight: bold;
                    font-size: 21px;
                    height: 21px;
                    width: 21px;
                }
            }
        }

        .text-envio {
            font-size: 16px;
            line-height: 36px;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
        }
    }


}

footer {
    h3 {
        font-size: 40px;
        line-height: 48px;
        color: #fff;
        font-weight: 500;
    }

    h4 {
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        font-weight: 700;
        margin-bottom: 25px;
    }

    p {
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        font-weight: 500;
    }

    a {
        color: #FFF;
        text-decoration: none;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            padding-bottom: 15px;
            padding-left: 15px;

            a {
                font-size: 18px;
                line-height: 22px;
                font-weight: normal;
            }

            &::before {
                color: #FFF;
                content: "\2022";
                font-weight: bold;
                display: inline-block;
                margin-left: -1em;
                width: 1em;
            }
        }

        &.social {
            list-style: none;
            display: flex;
            justify-content: center;
            margin-top: 15px;
            margin-bottom: 20px;

            li {
                display: inline-block;

                &::before {
                    color: #FFF;
                    content: " ";
                    font-weight: bold;
                    display: inline-block;
                    margin-left: -1em;
                    width: 1em;
                }
            }
        }
    }
}

.info_acerca {
    position: relative;
    padding: 16px 0;
    z-index: 999;
    margin-top: -75px;
}

.card_shadow {
    background-color: #FFF;
    border-radius: 30px;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.25);
    padding: 25px 16px;

    p {
        font-size: 18px;
        line-height: 22px;
        color: var(--color-primary);
        font-weight: 500;
        margin: 0;
    }
}


.card_shadow2 {
    background-color: #FFF;
    border-radius: 22px;
    box-shadow: 0 4px 17px 1px rgba(0, 0, 0, 0.10);
    padding: 25px 16px;
    border-color: rgba(135, 135, 135, 0);
}

.categorias {
    h2 {
        font-size: 40px;
        line-height: 48px;
        color: var(--color-primary);
        font-weight: 500;
    }

    .categoria {
        a {
            text-decoration: none;
            color: var(--color-primary);
            font-size: 24px;
            line-height: 29px;
            font-weight: 600;
        }
    }
}

.distribuidor {
    h2 {
        color: var(--color-primary);
        font-size: 40px;
        line-height: 48px;
        font-weight: 500;
    }

    p {
        color: #000;
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
        text-align: justify;

        b {
            font-weight: 900;
            color: var(--color-primary);
        }
    }

    a {
        text-decoration: none;
        color: var(--color-primary);
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
        padding: 18px 32px;
        gap: 10px;
        border: 2px solid var(--color-primary);
        border-radius: 11px;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    img {
        border-radius: 30px;
    }

    hr {
        border-color: var(--color-primary);
        border-width: 2px;
    }

    .indicadores {
        span {
            font-size: 40px;
            line-height: 48px;
            color: var(--color-primary);
            font-weight: 500;
        }

        p {
            font-size: 18px;
            line-height: 22px;
            color: #000;
            font-weight: 500;
            text-align: justify;
            margin-top: 15px;
        }
    }
}


.woocommerce-breadcrumb {
    padding: 13px auto;
    font-size: 17px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;

    a {
        color: var(--color-primary);
        text-decoration: none;
        font-size: 17px;
        line-height: normal;
        display: inline-block;

        &::after {
            content: " ";
            border-bottom: 2px solid var(--color-primary);
            width: 0;
            height: 100%;
            display: block;
            transition: all .55s cubic-bezier(.2, .75, .5, 1);
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }
    }

    i {
        font-size: 14px;
        line-height: normal;
        color: #000;
        width: 25px;
        text-align: center;
    }
}

.productos {
    .product {
        .card {
            text-align: center;
            position: relative;

            img {
                width: 100% !important;
                height: auto;
                aspect-ratio: 300/300;
                z-index: 10;

                &:hover~.hover {
                    opacity: 1;
                }
            }

            h2 {
                font-size: 14px;
                line-height: normal;
                color: #000;
                font-weight: bold;
                margin-top: 10px;
            }

            a {
                font-size: 16px;
                color: var(--color-primary);
                font-weight: bold;
                text-decoration: none;
                margin-top: 10px;
            }

            .hover {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: auto;
                aspect-ratio: 300/300;
                background-color: rgba(255, 255, 255, 0.5);
                opacity: 0;
                transition: opacity .2s ease-in-out;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                z-index: 20;
                pointer-events: none;

                span,
                a {
                    pointer-events: auto;
                }

                span {
                    color: #000 !important;
                    font-size: 18px;
                    line-height: 22px;
                    font-weight: bold;
                    margin: 0;
                }

                a {
                    color: #000;
                    font-size: 18px;
                    line-height: 22px;
                    font-weight: bold;
                    margin: 0;
                    text-decoration: none;

                    &:not(.btnCat, .sp-wqv-view-button) {
                        display: block;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        z-index: 30;
                    }



                    &.btnCat {
                        z-index: 40;
                    }

                    &.sp-wqv-view-button {
                        position: absolute;
                        width: 100%;
                        left: 0;
                        bottom: 0;
                        background-color: var(--color-primary);
                        border: 1px solid var(--color-primary);
                        color: #fff;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 28px;
                        letter-spacing: 0.2px;
                        padding: 10px;
                        transition: all .2s;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 15px;
                        z-index: 40;
                    }
                }

                .info {
                    position: absolute;
                    width: auto;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 5px;
                    z-index: 40;
                    padding: 10px;

                    .stars-avg-rating {
                        margin: 0;
                    }
                }

                &:hover {
                    opacity: 1;
                }

            }


            .card-body {
                display: flex;
                aspect-ratio: 16/4;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
}


.dvResult {
    line-height: 40px;

    p {
        margin: 0;
    }
}

.select2-container {
    width: auto !important;

    .select2-selection--single {
        border: 0;
        border-radius: 0;
        position: relative;

        .select2-selection__rendered {
            color: #000;
            font-weight: 600;
            font-size: 14px;
            padding-right: 25px;
        }

        .select2-selection__arrow b {
            border-color: #000 transparent transparent transparent;
        }

        &::after {
            content: " ";
            border-bottom: 2px solid var(--color-primary);
            width: 100%;
            display: block;
            transition: all .55s cubic-bezier(.2, .75, .5, 1);
        }


        &:hover {
            &::after {
                width: 0;
            }
        }
    }

    &.select2-container--open {
        .select2-selection--single {
            .select2-selection__arrow b {
                border-color: transparent transparent #000 transparent;
            }
        }
    }

    .select2-dropdown {
        width: 300px !important;
        padding: 5px;
        border: none;
        background-color: #FFF;
        border-radius: 4px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        box-shadow: 0 6px 28px rgba(0, 0, 0, 0.08);

        .select2-results__option {
            font-size: 14px;

            &:hover,
            &.select2-results__option--selected {
                background-color: var(--color-primary);
                color: #FFF;
            }

            &.select2-results__option--highlighted.select2-results__option--selectable {
                background-color: var(--color-primary);
                color: #FFF;
            }
        }


    }
}


.product {
    .product_title {
        font-size: 40px;
        line-height: 48px;
        font-weight: 500;
        color: var(--color-primary);
    }

    .woocommerce-review-link {
        text-decoration: none;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-weight: 600;
        color: #737373;
    }

    .price {
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        letter-spacing: 0.2px;
        margin: 0 25px 0 0;
    }

    .woocommerce-product-details__short-description {
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
        text-align: justify;
        margin: 50px 0;

        ul {
            list-style: none inside;
            padding: 0;
            margin: 0;

            li {
                position: relative;
                padding-left: 0;
                text-indent: 15px;
                padding-bottom: 25px;

                &::before {
                    content: "-";
                    position: absolute;
                    left: 0;
                    top: 0;
                    color: #000;
                    font-size: 18px;
                    text-indent: 0;
                }

            }
        }
    }

    form.cart {
        display: flex;
        align-items: center;
        gap: 15px;

        .quantity {
            input {
                padding: 5px 0;
                font-size: 16px;
                text-align: center;
            }
        }

        button {
            background-color: var(--color-primary);
            border: 2px solid var(--color-primary);
            border-radius: 11px;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            line-height: 22px;
            padding: 18px 32px;
            transition: all .2s;
            gap: 10px;

        }
    }

    ul.info {
        margin: 0;
        padding: 0;
        list-style: inside;
        margin-top: 50px;

        li {
            font-size: 18px;
            line-height: 22px;
            font-weight: 500;

            span {
                font-weight: 800;
                color: var(--color-primary);
            }
        }
    }

    hr {
        border-color: var(--color-primary);
        margin: 50px 0;
    }

    h3 {
        color: var(--color-primary);
        font-size: 40px;
        line-height: 48px;
        text-align: center;
    }

    .related {
        .card {
            height: 100%;
            border-radius: 0;
            padding: 0;
            box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
            border-color: #DEDEDE;

            .card-body {
                padding: 30px 40px;
                gap: 30px;

                img {
                    width: 100%;
                    height: auto;
                    aspect-ratio: 300/300;
                }

                h4 {
                    a {
                        text-decoration: none;
                        color: #252b42;
                        font-size: 24px;
                        line-height: 32px;
                        font-weight: 500;
                        letter-spacing: 0.2px;
                    }
                }

                .price {
                    font-size: 24px;
                    line-height: 69px;
                    font-weight: 700;
                    letter-spacing: 0.1px;
                }

                .add_to_cart_button {
                    background-color: var(--color-primary);
                    border: 2px solid var(--color-primary);
                    padding: 18px 32px;
                    gap: 10px;
                    border-radius: 11px;
                    font-size: 18px;
                    line-height: 22px;
                    font-weight: 600;
                    text-align: center;
                    color: #fff;
                    text-align: center;
                    text-decoration: none;
                }

                .sp-wqv-view-button {
                    display: none !important;
                }
            }
        }
    }
}

.stars-avg-rating {
    text-align: left;

    .rating-text {
        display: none;
    }
}

#stars-rating-review .br-widget a.br-selected::after,
.rating-stars i.rated::after {
    color: var(--color-primary);
}


#stars-rating-review .br-widget a.br-active:after {
    color: var(--color-primary);
}

#stars-rating-review .br-widget a.br-selected:after {
    color: var(--color-primary);
}

.card_belleza_salud {
    img {
        width: 600px;
        height: auto;
        aspect-ratio: 600/600;
        border-radius: 35px;
    }

    h6 {
        font-size: 24px;
        line-height: 29px;
        font-weight: 500;
        color: var(--color-primary);
    }

    h2 {
        font-size: 40px;
        line-height: 48px;
        font-weight: 500;
        color: var(--color-primary);
    }

    p {
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
        text-align: justify;
    }

    .accordion-item {
        border: 1px solid #EBEBEB;
        background-color: #F6F6F6;

        h2 {
            border: none;

            button {
                font-size: 16px;
                line-height: 24px;
                font-weight: 700;
                letter-spacing: 0.1px;
                color: var(--color-primary);
                padding: 15px 20px;

                &:not(.collapsed) {
                    background-color: transparent;
                    border-left: 3px solid var(--color-primary);
                }

                &:focus {
                    border-color: var(--color-primary);
                    // box-shadow: 0 0 0 0.25rem rgba(181, 18, 124, 0.25);
                    box-shadow: none;
                }
            }
        }

        .accordion-body {
            margin: 0;
            padding: 20px 25px;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: 0.2px;
            color: #000;            
        }

        &:first-child {
            border-top: 1px solid #EBEBEB;
        }

        &:last-child {
            border-bottom: 1px solid #EBEBEB;
        }
    }
}

.over-position{
    width: 100vw;
    margin-left: calc((100% - 100vw) / 2);
}

.mas-informacion{
    background-color: #ecf0f3;
    background-image: url(image/mask-point.webp);
    background-repeat: no-repeat;
    background-position: top left;

    h2{
        font-size: 40px;
        line-height: 48px;
        font-weight: 500;
        color: var(--color-primary);
        margin-bottom: 25px;
    }

    h3 {
        font-size: 30px;
        line-height: 36px;
        font-weight: 500;
        color: var(--color-primary);
        margin-bottom: 25px;
    }

    ul{
        margin: 0;
        padding: 0;
        list-style: inside;

        li{
            margin-bottom: 15px;
            font-size: 24px;
            line-height: 29px;
            font-weight: 500;
            text-align: justify;
        }
    }

    p{
        margin-bottom: 15px;
        font-size: 24px;
        line-height: 29px;
        font-weight: 500;
        text-align: justify;
    }

    hr{
        border-color: var(--color-primary);
    }
}

.testimonio{
    img{
        &.user{
            width: 192px;
            height: 192px;
            object-fit: cover;
            border-radius: 50%;
            border: 8px solid var(--color-primary);
        }
    }

    p{
        font-size: 24px;
        line-height: 26px;
        font-weight: 500;
        text-align: center;
        letter-spacing: 0.2px;
        width: 65%;
        margin: 25px auto;
    
        &.nombre{
            line-height: 32px;
            letter-spacing: 0.1px;
            font-weight: 700;
            margin-bottom: 0;
        }
    }
}


.shop_table {
    border-radius:0;
    -webkit-border-radius:0;
    border:none;
    width: 100%;
    padding:25px 20px;

    thead {
        tr {
            th {
                font-size: 18px;
                line-height: 22px;
                font-weight: 700;
                color: #000;
                text-align: left;
                padding: 9px 12px;
                line-height: 1.5rem;
                border: none;
            }
        }
    }

    tbody {
        tr {
            td, th {
                font-size: 18px;
                line-height: 22px;
                font-weight: 500;
                color: #000;
                text-align: left;
                padding: 9px 12px;
                line-height: 1.5rem;
                border: none;
                background-color: rgba(0, 0, 0, 0.01);
                vertical-align: middle;

                &.product-remove {
                    padding: 25px 0 25px 20px;
                    width: 80px;
                    
                    a {
                        display: block;
                        color: #000;
                        font-size: 24px;
                        line-height: 30px;
                        font-weight: 600;
                        width: 30px;
                        height: 30px;
                        text-decoration: none;
                        margin: 0 auto;
                        transition: color .2s ease,background-color .2s ease;
                        text-align: center;
                        border-radius: 50%;

                        &:hover {
                            background-color: var(--color-primary);
                            color: #fff;
                        }
                    }
                }

                &.product-thumbnail {
                    padding: 25px;

                    .attachment-woocommerce_thumbnail {
                        width: 90px;
                        height: 90px;
                        object-fit: cover;
                    }
                }
                

                &.product-name {
                    a {
                        color: #000;
                        font-size: 18px;
                        line-height: 22px;
                        font-weight: 500;
                        text-decoration: none;
                        font-weight: 600;
                    }
                }

                &.actions {
                    background-color: transparent !important;
                    padding: 25px 0;
                    text-align: right;

                    .coupon{
                        min-width: 50%;
                        text-align: left;
                        float: left;

                        input {
                            font-size: 14px;
                            background-color: rgba(0, 0, 0, 0.04);
                            border-radius: 4px;
                            border: 2px solid transparent;
                            width: 50%;
                            line-height: 18px;
                            float: none;
                            padding: 16px;
                            outline: 0;
                            box-sizing: border-box;
                            margin: 0 4px 0 0;
                            transition: all .2s ease;

                            &:focus{
                                border-color: var(--color-primary);
                                box-shadow: none !important;
                            }
                        }
                    }

                    button {
                        border: 0;
                        padding: 15px 22px !important;
                        height: auto !important;
                        line-height: 20px;
                        border-radius: 4px;
                        box-shadow: none;
                        background-color: var(--color-primary);
                        text-transform: capitalize;
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: 0;
                        color: #FFF;
                        transition: opacity .45s cubic-bezier(0.25,1,0.33,1),transform .45s cubic-bezier(0.25,1,0.33,1),border-color .45s cubic-bezier(0.25,1,0.33,1),color .45s cubic-bezier(0.25,1,0.33,1),background-color .45s cubic-bezier(0.25,1,0.33,1),box-shadow .45s cubic-bezier(0.25,1,0.33,1);
                        
                        &:hover {
                            box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
                            transform: translateY(-3px);
                        }

                        &:disabled {
                            cursor: not-allowed;
                            opacity: .5;
                        }
                    }
                }
            }

            &:nth-child(2n) {
                td,th {
                    background-color: rgba(0, 0, 0, 0.03);
                }
            }
        }
    }
}

.cart-collaterals{
    width: 100%;

    .cart_totals {
        float: right;
        width: 48%;

        h2 {
            font-size: 30px;
            line-height: 40px;
            font-weight: 700;
            color: var(--color-primary);
        }

        table {
            margin-bottom: 20px;
            border-collapse: separate;
            margin: 0 0 6px;
            padding: 0;

            tr {
                td, th {
                    text-align: right;
                    padding: 20px;
                }

                th{
                    font-weight: 700;
                }
            }
        }

        .wc-proceed-to-checkout {
            clear: both;
            padding: 0;
            margin: 0;

            a {
                display: block;
                background-color: var(--color-primary);
                border: 2px solid var(--color-primary);
                padding: 18px 32px;
                border-radius: 4px;
                font-size: 23px;
                line-height: 29px;
                font-weight: 700;
                text-align: center;
                color: #fff;
                text-decoration: none;
                box-shadow: none;
                transition: opacity .45s cubic-bezier(0.25,1,0.33,1),transform .45s cubic-bezier(0.25,1,0.33,1),border-color .45s cubic-bezier(0.25,1,0.33,1),color .45s cubic-bezier(0.25,1,0.33,1),background-color .45s cubic-bezier(0.25,1,0.33,1),box-shadow .45s cubic-bezier(0.25,1,0.33,1);

                &:hover {
                    box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16) !important;
                    transform: translateY(-3px);
                }
            }

            &::before{
                content: " ";
                display: table;
            }
        
            &::after{
                clear: both;
            }
        }
    }

    &::before{
        content: " ";
        display: table;
    }

    &::after{
        clear: both;
    }
}

.my-account{
    h2{
        margin-top: 25px;
        margin-bottom: 40px;
        text-align: center;
        font-size: 40px;
        line-height: 52px;
        font-weight: 700;
        color: var(--color-primary);
    }

    form {
        margin-bottom: 6%;
        width: 100%;
        float: none;

        &.login{
            max-width: 550px;
            margin: 0 auto;
            border: 0;
            padding: 0;
            text-align: left;

            .woocommerce-form-login__rememberme{
                display: block !important;

                input {
                    width: auto !important;
                }
            }

            .woocommerce-form-login__submit {
                padding: 15px 22px !important;
                font-size: 14px;
                letter-spacing: 0;
                text-transform: capitalize;
                font-weight: 700;
                background-color: var(--color-primary);
                width: 100%;
                margin-top: 50px;
                margin-bottom: 5px;
                box-shadow: none;
                border-radius: 4px !important;
                color: #FFF;
                transition: opacity .45s cubic-bezier(0.25,1,0.33,1),transform .45s cubic-bezier(0.25,1,0.33,1),border-color .45s cubic-bezier(0.25,1,0.33,1),color .45s cubic-bezier(0.25,1,0.33,1),background-color .45s cubic-bezier(0.25,1,0.33,1),box-shadow .45s cubic-bezier(0.25,1,0.33,1);

                &:hover {
                    box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16) !important;
                    transform: translateY(-3px);
                }
            }

            .lost_password{
                a{
                    text-decoration: none;
                    color: var(--color-primary);
                    font-size: 18px;
                    line-height: 22px;
                    font-weight: 700;
                }
            }
        }

        .form-row {
            margin: 0 0 8px;
            padding: 3px;

            label {
                display: block;
                line-height: 2;
                font-weight: 700;
            }

            input {
                box-sizing: border-box;
                width: 100%;
                margin: 0;
                outline: 0;
                line-height: normal;
                font-size: 14px;
                background-color: rgba(0, 0, 0, 0.04 );
                border-radius: 4px;
                border: 2px solid transparent;
                padding: 10px;
                color: #555;
                transition: all .2s ease;

                &.input-checkbox{
                    width: auto;
                }
            }

            .select2-container{
                width: 100% !important;
            }

            button {
                padding: 15px 22px !important;
                font-size: 14px;
                letter-spacing: 0;
                text-transform: capitalize;
                font-weight: 700;
                background-color: var(--color-primary) !important;
                width: auto;
                margin-top: 50px;
                margin-bottom: 5px;
                box-shadow: none;
                border-radius: 4px !important;
                color: #FFF;
                transition: opacity .45s cubic-bezier(0.25,1,0.33,1),transform .45s cubic-bezier(0.25,1,0.33,1),border-color .45s cubic-bezier(0.25,1,0.33,1),color .45s cubic-bezier(0.25,1,0.33,1),background-color .45s cubic-bezier(0.25,1,0.33,1),box-shadow .45s cubic-bezier(0.25,1,0.33,1);

                &:hover {
                    box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16) !important;
                    transform: translateY(-3px);
                }
            }
        }
        
    }

    nav{
        margin-bottom: 50px;
        padding: 10px;
        background-color: rgba(209, 54, 121, 0.35);
        border-radius: 4px;

        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;

            li {
                a{
                    text-decoration: none;
                    color: var(--color-primary);
                    font-size: 18px;
                    line-height: 22px;
                    font-weight: 700;
                }
            }
        }
    }
}

@media only screen and (min-width: 1300px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1450px;
    }

    .products {
        li {
            width: 23.4% !important;
            margin: 0 1.5% 1.5% 0 !important;
        }
    }
}

@media only screen and (max-width: 1300px) and (min-width: 1000px) {
    .products {
        li {
            width: 31.2% !important;
            margin: 0 2% 2% 0 !important;
        }
    }
}