@charset "UTF-8";
/*
Theme Name: LolyGummies
Author: FJaimes
Description: Plantilla exclusiva para LolyGummies.
Version: 1.0
Template Theme URI: https://fjaimes.com/themes-wp/lolygummies
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --color-primary: #B4127B;
  --color-secondary: #CF3476;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFF;
}

.whatsapp {
  position: fixed;
  right: 20px;
  bottom: 50px;
}

.bg-pink {
  background-color: var(--color-primary);
}

.bg-pink-secondary {
  background-color: var(--color-secondary);
}

.btn-pink {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.2px;
  padding: 15px 25px;
  transition: all 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.btn-pink i {
  font-size: 14px;
}
.btn-pink:hover {
  background-color: #FFF;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.bg-mask-point {
  background-image: url(image/mask-point.webp);
  background-repeat: no-repeat;
  background-position: top left;
}

.bg-mask-slick {
  background-image: url(image/mask-point.webp);
  background-repeat: no-repeat;
  background-position: top left;
}
.bg-mask-slick h2 {
  font-size: 40px;
  line-height: 48px;
  color: var(--color-primary);
  font-weight: 500;
  margin-bottom: 25px;
}
.bg-mask-slick p {
  font-size: 24px;
  line-height: 44px;
  color: #000;
  font-weight: 500;
}
.bg-mask-slick p a {
  text-decoration: none;
  color: #000;
}
.bg-mask-slick a.btnIr {
  text-decoration: none;
  background-color: var(--color-primary);
  color: #FFF;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  padding: 18px 32px;
  border-radius: 11px;
  margin-top: 50px;
  display: inline-block;
}

nav {
  display: block;
  position: relative;
}
nav.navbar {
  transition: all 0.2s;
}
nav.navbar ul#menu-menu-navegacion {
  margin: 0;
  padding: 0;
}
nav.navbar ul#menu-menu-navegacion li {
  padding: 0;
}
nav.navbar ul#menu-menu-navegacion li a {
  color: #888888;
  font-weight: 500;
  text-decoration: none;
  transition: color 700ms ease-in-out, border 200ms ease-in-out;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 1.5rem 1.75rem;
  text-transform: uppercase;
}
nav.navbar ul#menu-menu-navegacion li.current-menu-item a, nav.navbar ul#menu-menu-navegacion li:hover a {
  color: var(--color-secondary);
  border-bottom: 3px solid var(--color-secondary);
}
nav.navbar ul#menu-menu-usuario {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 15px;
}
nav.navbar ul#menu-menu-usuario li {
  display: inline-block;
}
nav.navbar ul#menu-menu-usuario li a {
  position: relative;
}
nav.navbar ul#menu-menu-usuario li a.menu-icono {
  color: var(--color-primary);
  height: 68px;
  width: 68px;
  padding: 12px;
  display: block;
}
nav.navbar ul#menu-menu-usuario li a.menu-icono .badge {
  background-color: var(--color-primary) !important;
  font-size: 12px;
  position: absolute;
  right: 12px;
  bottom: 5px;
}

.header nav {
  display: flex;
  padding: 10px 0;
}
.header nav ul {
  list-style: none;
  margin: 0;
}
.header nav ul li {
  margin: 0 5px;
  display: inline-block;
}
.header nav ul li i {
  color: #FFF;
  font-weight: bold;
  font-size: 21px;
  height: 21px;
  width: 21px;
}
.header nav .text-envio {
  font-size: 16px;
  line-height: 36px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

footer h3 {
  font-size: 40px;
  line-height: 48px;
  color: #fff;
  font-weight: 500;
}
footer h4 {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 25px;
}
footer p {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  font-weight: 500;
}
footer a {
  color: #FFF;
  text-decoration: none;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer ul li {
  padding-bottom: 15px;
  padding-left: 15px;
}
footer ul li a {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
}
footer ul li::before {
  color: #FFF;
  content: "•";
  font-weight: bold;
  display: inline-block;
  margin-left: -1em;
  width: 1em;
}
footer ul.social {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 20px;
}
footer ul.social li {
  display: inline-block;
}
footer ul.social li::before {
  color: #FFF;
  content: " ";
  font-weight: bold;
  display: inline-block;
  margin-left: -1em;
  width: 1em;
}

.info_acerca {
  position: relative;
  padding: 16px 0;
  z-index: 999;
  margin-top: -75px;
}

.card_shadow {
  background-color: #FFF;
  border-radius: 30px;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.25);
  padding: 25px 16px;
}
.card_shadow p {
  font-size: 18px;
  line-height: 22px;
  color: var(--color-primary);
  font-weight: 500;
  margin: 0;
}

.card_shadow2 {
  background-color: #FFF;
  border-radius: 22px;
  box-shadow: 0 4px 17px 1px rgba(0, 0, 0, 0.1);
  padding: 25px 16px;
  border-color: rgba(135, 135, 135, 0);
}

.categorias h2 {
  font-size: 40px;
  line-height: 48px;
  color: var(--color-primary);
  font-weight: 500;
}
.categorias .categoria a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
}

.distribuidor h2 {
  color: var(--color-primary);
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
}
.distribuidor p {
  color: #000;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  text-align: justify;
}
.distribuidor p b {
  font-weight: 900;
  color: var(--color-primary);
}
.distribuidor a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  padding: 18px 32px;
  gap: 10px;
  border: 2px solid var(--color-primary);
  border-radius: 11px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.distribuidor img {
  border-radius: 30px;
}
.distribuidor hr {
  border-color: var(--color-primary);
  border-width: 2px;
}
.distribuidor .indicadores span {
  font-size: 40px;
  line-height: 48px;
  color: var(--color-primary);
  font-weight: 500;
}
.distribuidor .indicadores p {
  font-size: 18px;
  line-height: 22px;
  color: #000;
  font-weight: 500;
  text-align: justify;
  margin-top: 15px;
}

.woocommerce-breadcrumb {
  padding: 13px auto;
  font-size: 17px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}
.woocommerce-breadcrumb a {
  color: var(--color-primary);
  text-decoration: none;
  font-size: 17px;
  line-height: normal;
  display: inline-block;
}
.woocommerce-breadcrumb a::after {
  content: " ";
  border-bottom: 2px solid var(--color-primary);
  width: 0;
  height: 100%;
  display: block;
  transition: all 0.55s cubic-bezier(0.2, 0.75, 0.5, 1);
}
.woocommerce-breadcrumb a:hover::after {
  width: 100%;
}
.woocommerce-breadcrumb i {
  font-size: 14px;
  line-height: normal;
  color: #000;
  width: 25px;
  text-align: center;
}

.productos .product .card {
  text-align: center;
  position: relative;
}
.productos .product .card img {
  width: 100% !important;
  height: auto;
  aspect-ratio: 300/300;
  z-index: 10;
}
.productos .product .card img:hover ~ .hover {
  opacity: 1;
}
.productos .product .card h2 {
  font-size: 14px;
  line-height: normal;
  color: #000;
  font-weight: bold;
  margin-top: 10px;
}
.productos .product .card a {
  font-size: 16px;
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: none;
  margin-top: 10px;
}
.productos .product .card .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  aspect-ratio: 300/300;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 20;
  pointer-events: none;
}
.productos .product .card .hover span,
.productos .product .card .hover a {
  pointer-events: auto;
}
.productos .product .card .hover span {
  color: #000 !important;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin: 0;
}
.productos .product .card .hover a {
  color: #000;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}
.productos .product .card .hover a:not(.btnCat, .sp-wqv-view-button) {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 30;
}
.productos .product .card .hover a.btnCat {
  z-index: 40;
}
.productos .product .card .hover a.sp-wqv-view-button {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.2px;
  padding: 10px;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  z-index: 40;
}
.productos .product .card .hover .info {
  position: absolute;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  z-index: 40;
  padding: 10px;
}
.productos .product .card .hover .info .stars-avg-rating {
  margin: 0;
}
.productos .product .card .hover:hover {
  opacity: 1;
}
.productos .product .card .card-body {
  display: flex;
  aspect-ratio: 16/4;
  flex-direction: column;
  justify-content: space-between;
}

.dvResult {
  line-height: 40px;
}
.dvResult p {
  margin: 0;
}

.select2-container {
  width: auto !important;
}
.select2-container .select2-selection--single {
  border: 0;
  border-radius: 0;
  position: relative;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  color: #000;
  font-weight: 600;
  font-size: 14px;
  padding-right: 25px;
}
.select2-container .select2-selection--single .select2-selection__arrow b {
  border-color: #000 transparent transparent transparent;
}
.select2-container .select2-selection--single::after {
  content: " ";
  border-bottom: 2px solid var(--color-primary);
  width: 100%;
  display: block;
  transition: all 0.55s cubic-bezier(0.2, 0.75, 0.5, 1);
}
.select2-container .select2-selection--single:hover::after {
  width: 0;
}
.select2-container.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #000 transparent;
}
.select2-container .select2-dropdown {
  width: 300px !important;
  padding: 5px;
  border: none;
  background-color: #FFF;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 6px 28px rgba(0, 0, 0, 0.08);
}
.select2-container .select2-dropdown .select2-results__option {
  font-size: 14px;
}
.select2-container .select2-dropdown .select2-results__option:hover, .select2-container .select2-dropdown .select2-results__option.select2-results__option--selected {
  background-color: var(--color-primary);
  color: #FFF;
}
.select2-container .select2-dropdown .select2-results__option.select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--color-primary);
  color: #FFF;
}

.product .product_title {
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
  color: var(--color-primary);
}
.product .woocommerce-review-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 600;
  color: #737373;
}
.product .price {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: 0.2px;
  margin: 0 25px 0 0;
}
.product .woocommerce-product-details__short-description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  text-align: justify;
  margin: 50px 0;
}
.product .woocommerce-product-details__short-description ul {
  list-style: none inside;
  padding: 0;
  margin: 0;
}
.product .woocommerce-product-details__short-description ul li {
  position: relative;
  padding-left: 0;
  text-indent: 15px;
  padding-bottom: 25px;
}
.product .woocommerce-product-details__short-description ul li::before {
  content: "-";
  position: absolute;
  left: 0;
  top: 0;
  color: #000;
  font-size: 18px;
  text-indent: 0;
}
.product form.cart {
  display: flex;
  align-items: center;
  gap: 15px;
}
.product form.cart .quantity input {
  padding: 5px 0;
  font-size: 16px;
  text-align: center;
}
.product form.cart button {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 11px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  padding: 18px 32px;
  transition: all 0.2s;
  gap: 10px;
}
.product ul.info {
  margin: 0;
  padding: 0;
  list-style: inside;
  margin-top: 50px;
}
.product ul.info li {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}
.product ul.info li span {
  font-weight: 800;
  color: var(--color-primary);
}
.product hr {
  border-color: var(--color-primary);
  margin: 50px 0;
}
.product h3 {
  color: var(--color-primary);
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}
.product .related .card {
  height: 100%;
  border-radius: 0;
  padding: 0;
  box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
  border-color: #DEDEDE;
}
.product .related .card .card-body {
  padding: 30px 40px;
  gap: 30px;
}
.product .related .card .card-body img {
  width: 100%;
  height: auto;
  aspect-ratio: 300/300;
}
.product .related .card .card-body h4 a {
  text-decoration: none;
  color: #252b42;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: 0.2px;
}
.product .related .card .card-body .price {
  font-size: 24px;
  line-height: 69px;
  font-weight: 700;
  letter-spacing: 0.1px;
}
.product .related .card .card-body .add_to_cart_button {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  padding: 18px 32px;
  gap: 10px;
  border-radius: 11px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.product .related .card .card-body .sp-wqv-view-button {
  display: none !important;
}

.stars-avg-rating {
  text-align: left;
}
.stars-avg-rating .rating-text {
  display: none;
}

#stars-rating-review .br-widget a.br-selected::after,
.rating-stars i.rated::after {
  color: var(--color-primary);
}

#stars-rating-review .br-widget a.br-active:after {
  color: var(--color-primary);
}

#stars-rating-review .br-widget a.br-selected:after {
  color: var(--color-primary);
}

.card_belleza_salud img {
  width: 600px;
  height: auto;
  aspect-ratio: 600/600;
  border-radius: 35px;
}
.card_belleza_salud h6 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  color: var(--color-primary);
}
.card_belleza_salud h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
  color: var(--color-primary);
}
.card_belleza_salud p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  text-align: justify;
}
.card_belleza_salud .accordion-item {
  border: 1px solid #EBEBEB;
  background-color: #F6F6F6;
}
.card_belleza_salud .accordion-item h2 {
  border: none;
}
.card_belleza_salud .accordion-item h2 button {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  color: var(--color-primary);
  padding: 15px 20px;
}
.card_belleza_salud .accordion-item h2 button:not(.collapsed) {
  background-color: transparent;
  border-left: 3px solid var(--color-primary);
}
.card_belleza_salud .accordion-item h2 button:focus {
  border-color: var(--color-primary);
  box-shadow: none;
}
.card_belleza_salud .accordion-item .accordion-body {
  margin: 0;
  padding: 20px 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: #000;
}
.card_belleza_salud .accordion-item:first-child {
  border-top: 1px solid #EBEBEB;
}
.card_belleza_salud .accordion-item:last-child {
  border-bottom: 1px solid #EBEBEB;
}

.over-position {
  width: 100vw;
  margin-left: calc((100% - 100vw) / 2);
}

.mas-informacion {
  background-color: #ecf0f3;
  background-image: url(image/mask-point.webp);
  background-repeat: no-repeat;
  background-position: top left;
}
.mas-informacion h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
  color: var(--color-primary);
  margin-bottom: 25px;
}
.mas-informacion h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  color: var(--color-primary);
  margin-bottom: 25px;
}
.mas-informacion ul {
  margin: 0;
  padding: 0;
  list-style: inside;
}
.mas-informacion ul li {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  text-align: justify;
}
.mas-informacion p {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  text-align: justify;
}
.mas-informacion hr {
  border-color: var(--color-primary);
}

.testimonio img.user {
  width: 192px;
  height: 192px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 8px solid var(--color-primary);
}
.testimonio p {
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.2px;
  width: 65%;
  margin: 25px auto;
}
.testimonio p.nombre {
  line-height: 32px;
  letter-spacing: 0.1px;
  font-weight: 700;
  margin-bottom: 0;
}

.shop_table {
  border-radius: 0;
  -webkit-border-radius: 0;
  border: none;
  width: 100%;
  padding: 25px 20px;
}
.shop_table thead tr th {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #000;
  text-align: left;
  padding: 9px 12px;
  line-height: 1.5rem;
  border: none;
}
.shop_table tbody tr td, .shop_table tbody tr th {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #000;
  text-align: left;
  padding: 9px 12px;
  line-height: 1.5rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.01);
  vertical-align: middle;
}
.shop_table tbody tr td.product-remove, .shop_table tbody tr th.product-remove {
  padding: 25px 0 25px 20px;
  width: 80px;
}
.shop_table tbody tr td.product-remove a, .shop_table tbody tr th.product-remove a {
  display: block;
  color: #000;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  width: 30px;
  height: 30px;
  text-decoration: none;
  margin: 0 auto;
  transition: color 0.2s ease, background-color 0.2s ease;
  text-align: center;
  border-radius: 50%;
}
.shop_table tbody tr td.product-remove a:hover, .shop_table tbody tr th.product-remove a:hover {
  background-color: var(--color-primary);
  color: #fff;
}
.shop_table tbody tr td.product-thumbnail, .shop_table tbody tr th.product-thumbnail {
  padding: 25px;
}
.shop_table tbody tr td.product-thumbnail .attachment-woocommerce_thumbnail, .shop_table tbody tr th.product-thumbnail .attachment-woocommerce_thumbnail {
  width: 90px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
}
.shop_table tbody tr td.product-name a, .shop_table tbody tr th.product-name a {
  color: #000;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: none;
  font-weight: 600;
}
.shop_table tbody tr td.actions, .shop_table tbody tr th.actions {
  background-color: transparent !important;
  padding: 25px 0;
  text-align: right;
}
.shop_table tbody tr td.actions .coupon, .shop_table tbody tr th.actions .coupon {
  min-width: 50%;
  text-align: left;
  float: left;
}
.shop_table tbody tr td.actions .coupon input, .shop_table tbody tr th.actions .coupon input {
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  border: 2px solid transparent;
  width: 50%;
  line-height: 18px;
  float: none;
  padding: 16px;
  outline: 0;
  box-sizing: border-box;
  margin: 0 4px 0 0;
  transition: all 0.2s ease;
}
.shop_table tbody tr td.actions .coupon input:focus, .shop_table tbody tr th.actions .coupon input:focus {
  border-color: var(--color-primary);
  box-shadow: none !important;
}
.shop_table tbody tr td.actions button, .shop_table tbody tr th.actions button {
  border: 0;
  padding: 15px 22px !important;
  height: auto !important;
  line-height: 20px;
  border-radius: 4px;
  box-shadow: none;
  background-color: var(--color-primary);
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  color: #FFF;
  transition: opacity 0.45s cubic-bezier(0.25, 1, 0.33, 1), transform 0.45s cubic-bezier(0.25, 1, 0.33, 1), border-color 0.45s cubic-bezier(0.25, 1, 0.33, 1), color 0.45s cubic-bezier(0.25, 1, 0.33, 1), background-color 0.45s cubic-bezier(0.25, 1, 0.33, 1), box-shadow 0.45s cubic-bezier(0.25, 1, 0.33, 1);
}
.shop_table tbody tr td.actions button:hover, .shop_table tbody tr th.actions button:hover {
  box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
  transform: translateY(-3px);
}
.shop_table tbody tr td.actions button:disabled, .shop_table tbody tr th.actions button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.shop_table tbody tr:nth-child(2n) td, .shop_table tbody tr:nth-child(2n) th {
  background-color: rgba(0, 0, 0, 0.03);
}

.cart-collaterals {
  width: 100%;
}
.cart-collaterals .cart_totals {
  float: right;
  width: 48%;
}
.cart-collaterals .cart_totals h2 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: var(--color-primary);
}
.cart-collaterals .cart_totals table {
  margin-bottom: 20px;
  border-collapse: separate;
  margin: 0 0 6px;
  padding: 0;
}
.cart-collaterals .cart_totals table tr td, .cart-collaterals .cart_totals table tr th {
  text-align: right;
  padding: 20px;
}
.cart-collaterals .cart_totals table tr th {
  font-weight: 700;
}
.cart-collaterals .cart_totals .wc-proceed-to-checkout {
  clear: both;
  padding: 0;
  margin: 0;
}
.cart-collaterals .cart_totals .wc-proceed-to-checkout a {
  display: block;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  padding: 18px 32px;
  border-radius: 4px;
  font-size: 23px;
  line-height: 29px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  text-decoration: none;
  box-shadow: none;
  transition: opacity 0.45s cubic-bezier(0.25, 1, 0.33, 1), transform 0.45s cubic-bezier(0.25, 1, 0.33, 1), border-color 0.45s cubic-bezier(0.25, 1, 0.33, 1), color 0.45s cubic-bezier(0.25, 1, 0.33, 1), background-color 0.45s cubic-bezier(0.25, 1, 0.33, 1), box-shadow 0.45s cubic-bezier(0.25, 1, 0.33, 1);
}
.cart-collaterals .cart_totals .wc-proceed-to-checkout a:hover {
  box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16) !important;
  transform: translateY(-3px);
}
.cart-collaterals .cart_totals .wc-proceed-to-checkout::before {
  content: " ";
  display: table;
}
.cart-collaterals .cart_totals .wc-proceed-to-checkout::after {
  clear: both;
}
.cart-collaterals::before {
  content: " ";
  display: table;
}
.cart-collaterals::after {
  clear: both;
}

.my-account h2 {
  margin-top: 25px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  color: var(--color-primary);
}
.my-account form {
  margin-bottom: 6%;
  width: 100%;
  float: none;
}
.my-account form.login {
  max-width: 550px;
  margin: 0 auto;
  border: 0;
  padding: 0;
  text-align: left;
}
.my-account form.login .woocommerce-form-login__rememberme {
  display: block !important;
}
.my-account form.login .woocommerce-form-login__rememberme input {
  width: auto !important;
}
.my-account form.login .woocommerce-form-login__submit {
  padding: 15px 22px !important;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: capitalize;
  font-weight: 700;
  background-color: var(--color-primary);
  width: 100%;
  margin-top: 50px;
  margin-bottom: 5px;
  box-shadow: none;
  border-radius: 4px !important;
  color: #FFF;
  transition: opacity 0.45s cubic-bezier(0.25, 1, 0.33, 1), transform 0.45s cubic-bezier(0.25, 1, 0.33, 1), border-color 0.45s cubic-bezier(0.25, 1, 0.33, 1), color 0.45s cubic-bezier(0.25, 1, 0.33, 1), background-color 0.45s cubic-bezier(0.25, 1, 0.33, 1), box-shadow 0.45s cubic-bezier(0.25, 1, 0.33, 1);
}
.my-account form.login .woocommerce-form-login__submit:hover {
  box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16) !important;
  transform: translateY(-3px);
}
.my-account form.login .lost_password a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}
.my-account form .form-row {
  margin: 0 0 8px;
  padding: 3px;
}
.my-account form .form-row label {
  display: block;
  line-height: 2;
  font-weight: 700;
}
.my-account form .form-row input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  outline: 0;
  line-height: normal;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  border: 2px solid transparent;
  padding: 10px;
  color: #555;
  transition: all 0.2s ease;
}
.my-account form .form-row input.input-checkbox {
  width: auto;
}
.my-account form .form-row .select2-container {
  width: 100% !important;
}
.my-account form .form-row button {
  padding: 15px 22px !important;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: capitalize;
  font-weight: 700;
  background-color: var(--color-primary) !important;
  width: auto;
  margin-top: 50px;
  margin-bottom: 5px;
  box-shadow: none;
  border-radius: 4px !important;
  color: #FFF;
  transition: opacity 0.45s cubic-bezier(0.25, 1, 0.33, 1), transform 0.45s cubic-bezier(0.25, 1, 0.33, 1), border-color 0.45s cubic-bezier(0.25, 1, 0.33, 1), color 0.45s cubic-bezier(0.25, 1, 0.33, 1), background-color 0.45s cubic-bezier(0.25, 1, 0.33, 1), box-shadow 0.45s cubic-bezier(0.25, 1, 0.33, 1);
}
.my-account form .form-row button:hover {
  box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16) !important;
  transform: translateY(-3px);
}
.my-account nav {
  margin-bottom: 50px;
  padding: 10px;
  background-color: rgba(209, 54, 121, 0.35);
  border-radius: 4px;
}
.my-account nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.my-account nav ul li a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

@media only screen and (min-width: 1300px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1450px;
  }
  .products li {
    width: 23.4% !important;
    margin: 0 1.5% 1.5% 0 !important;
  }
}
@media only screen and (max-width: 1300px) and (min-width: 1000px) {
  .products li {
    width: 31.2% !important;
    margin: 0 2% 2% 0 !important;
  }
}/*# sourceMappingURL=style.css.map */